/* Global Styles */
body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-img .container{
  height: 45rem;
  object-fit: contain;
  overflow: hidden;
}
.container img{
  max-height: 100%;
}