/* Navbar transparan untuk tampilan desktop */
@media (min-width: 992px) {
  .navbar {
      background-color: transparent !important;
  }
}

/* Navbar dengan background color saat collapse di perangkat mobile */
.navbar.bg-color {
  background-color: rgba(0, 0, 0, 0.8); /* Ubah sesuai kebutuhan */
}

.d-flex {
display: flex;
flex-wrap: wrap;
}

.d-flex:hover .side-bg {
transform: scale(1.05); /* Slightly scale up the background on hover */
}

@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(100px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.nav-item {
transition: transform 0.4s ease-in-out; /* Durasi 0.4 detik dengan efek easing */
}

.nav-item:hover {
transform: scale(1.20);
/*Hover zoom effect*/-webkit-transform: scale(1.45);
-moz-transform: scale(1.20);
-ms-transform: scale(1.20);
-o-transform: scale(1.20);
-webkit-transform: scale(1.20);
}

.nav-item:hover .side-bg {
transform: scale(1.05); /* Slightly scale up the background on hover */
}

.nav-item {
animation: fadeInUp 1s ease-in-out;
-webkit-animation: fadeInUp 1s ease-in-out;
}

.text-overlay {
animation: fadeInUp 1s ease-in-out;
-webkit-animation: fadeInUp 1s ease-in-out;
}

.container-fluid{
animation: fadeInUp 1s ease-in-out;
-webkit-animation: fadeInUp 1s ease-in-out;
}
