/* Struktur utama untuk gambar dan teks */
.side-image-text {
    display: flex;
    flex-wrap: wrap; /* Agar elemen otomatis berbaris ke bawah saat ruang tidak cukup */
    height: auto;
}

/* Gambar */
.side-bg {
    position: relative;
    width: 60%; /* Lebar gambar default */
    height: auto;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.side-bg img {
    width: 100%; /* Gambar memenuhi lebar */
    height: 100%;
    object-fit: cover; /* Jangan hilangkan bagian gambar */
}

/* Teks */
.right-text {
    width: 40%; /* Lebar teks default */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

/* Media Queries untuk Layar Kecil */
@media (max-width: 768px) {
    .side-image-text {
        flex-direction: column; /* Ubah arah flex menjadi kolom */
    }

    .side-bg {
        width: 100%; /* Gambar memenuhi lebar penuh */
        height: auto; /* Tinggi otomatis */
    }

    .side-bg img {
        width: 100%; /* Pastikan gambar melebar penuh */
        height: auto; /* Sesuaikan tinggi secara proporsional */
    }

    .right-text {
        width: 100%; /* Teks memenuhi lebar penuh */
        padding: 1.5rem; /* Sesuaikan padding */
        text-align: center; /* Rata tengah teks */
    }
}

.card-item{
    transition: transform 0.4s ease-in-out;
}
.card-item:hover{
    transform: scale(1.05); 
}

.card-0{
    transition: transform 0.4s ease-in-out;
}
.card-1{
    transition: transform 0.4s ease-in-out;
}
.card-2{
    transition: transform 0.4s ease-in-out;
}

.card-0:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.card-1:hover{
    transform: scale(1.05); 
}
.card-2:hover{
    transform: scale(1.05); 
}

.card-0 .card-img-top {
    border: 2px solid rgb(255, 255, 255);
}

.card-1 .card-img-top {
    border: 2px solid rgb(255, 255, 255);
}

.card-2 .card-img-top {
    border: 2px solid rgb(255, 255, 255);
}

